aiohttp==3.7.4.post0; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
chardet==3.0.4; python_version >= "3.6"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3.6"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
httplib2==0.19.1; python_version >= "3.7" and python_version < "4.0"
idna==3.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
solnlib==4.2.0; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0; python_version >= "3.7" and python_version < "4.0"
splunk-sdk==1.6.16
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6"
splunktalib==2.1.0; python_version >= "3.7" and python_version < "4.0"
splunktaucclib==5.0.4; python_version >= "3.7" and python_version < "4.0"
IP2Location==8.6.4; python_version >= "3.7" and python_version < "4.0"
IP2Proxy==3.3.0; python_version >= "3.7" and python_version < "4.0"
